@media all and (min-width : 600px){
    *{
    padding : 0;
    margin: 0 ; 
    box-sizing: border-box;
    font-family:cursive;
}
body{ 
    display: flex; 
    justify-content: center;
    align-items : center; 
    height : auto;
    background-image : url(/images/bluemedic.jpg);
   flex-direction: column;
}
header{
    background-color: #040f0f;
    color:#ffffff; 
    width: 100%;
      margin-top : 0;
    padding-top: 0;
    position: absolute; 
    top:0px; 
   img{
    width:20%;
   }
   
   .entete{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
   }
   h1{
    display: flex; 
    justify-content: center;

   }
} 
.retour{
    border: none; 
    background-color: transparent;
   
}
.comment{
    margin-top:10% ;
    margin-bottom :5%;
    display: flex;
    justify-content: center;
}
.explication{
    background-color: #be5353;
    color : rgb(243, 238, 238); 
    border-radius: 10px; 
    padding : 10px;
}
.situation{ 
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}
.Antecedents, .diagnostic{
   text-align: center;
   padding : 20px;  
   border-radius: 15px;
   margin : 5%;
   width : 80%;
   height: auto;
}
.Antecedents{
    background-color: #e2a3c7;
    color: #040f0f;
    box-shadow: rgba(72, 10, 49, 0.4) 0px 5px, rgba(52, 9, 36, 0.3) 0px 10px, rgba(30, 6, 21, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.diagnostic{
    background-color: #932563;
    color : rgb(227, 199, 216); 
    box-shadow: rgba(72, 10, 49, 0.4) 0px 5px, rgba(52, 9, 36, 0.3) 0px 10px, rgba(30, 6, 21, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
label { 
    font-weight: bold;
    font-size: 20px;
}
input{ 
    width: 60%;
    border: 1px solid #ddd; 
    border-radius : 4px;
    padding: 2%; 
    margin-bottom: 2px;
}

ul{
    list-style: none;
    padding: 0; 
}

li{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding :10% 0; 
    border-bottom: 1px solid #937171;
}

li:last-child {
    border-bottom: none;
}




#add, #add2{
    padding : 2%;
    border : none; 
    background-color: #040f0f;
    color: white; 
    cursor: pointer; 
    border-radius: 4px;
}    

.delete-btn{
    padding : 2%;
    border : none;
    background-color: rgb(179, 37, 37);
    color: white; 
    cursor: pointer; 
    border-radius: 4px;
}
footer{
     height : auto; 
     width : 100%;
     font-size: 16px;
     background: #d389ae; 
     opacity : 0.8; 
        color: white;
        text-align: center;
        padding: 15px;
}
.titre-services{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight:bolder;
    margin: 3%;
    padding: 1%;
    color:#333;
}

.resau{
    width : 100px;
}
}
@media all and (max-width : 600px){
    *{
    padding : 0;
    margin: 0 ; 
    box-sizing: border-box;
    font-family:cursive;
}
body{ 
    display: flex; 
    justify-content: center;
    align-items : center; 
    height : auto;
    background-image : url(/images/bluemedic.jpg);
   flex-direction: column;
}
header{
    background-color: #040f0f;
    color:#ffffff; 
    width: 100%;
      margin-top : 0;
      
    padding-top: 0;
    position: absolute; 
    top:0px; 
} 
 img{
    width:30%;
   
   }
   .retour{
    border : none; 
    background-color: transparent;
   }
 
   h1{
    display: flex; 
    justify-content: center;
    color :rgb(227, 199, 216);
    display:flex; 
    justify-content: center;


   }
     .entete{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }


.situation{ 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
    justify-items: center; 
     display: flex;
     flex-direction: column;
    position : absolute; 
    top : 25%;
}
.comment{
    
   margin-top : 10%;
}
.explication{
    background-color: #be5353;
    color : rgb(236, 231, 231); 
    border-radius: 10px; 
 
}
.Antecedents, .diagnostic{
   text-align: center;
   padding : 20px;  
   border-radius: 15px;
   margin : 10%;
   width : 60%;
   height: auto;
   display: flex; 
   flex-direction: column;
   justify-content: center;
  
   
}
.Antecedents{
    background-color: #e2a3c7;
    color: #040f0f;
    box-shadow: rgba(72, 10, 49, 0.4) 0px 5px, rgba(52, 9, 36, 0.3) 0px 10px, rgba(30, 6, 21, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.diagnostic{
    background-color: #932563;
    color : rgb(227, 199, 216); 
    box-shadow: rgba(72, 10, 49, 0.4) 0px 5px, rgba(52, 9, 36, 0.3) 0px 10px, rgba(30, 6, 21, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
label { 
    font-weight: bold;
    font-size: 20px;
}
input{ 
    width: 100%;
    border: 1px solid #ddd; 
    border-radius : 4px;
    padding: 2%; 
    margin-bottom: 2px;
}

ul{
    list-style: none;
    padding: 0; 
}

li{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding :10% 0; 
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}
#add, #add2{
    padding : 2%;
    border : none; 
    background-color: #040f0f;
    color: white; 
    cursor: pointer; 
    border-radius: 4px;
}    

.delete-btn{
    padding : 2%;
    border : none;
    background-color: rgb(179, 37, 37);
    color: white; 
    cursor: pointer; 
    border-radius: 4px;
}
footer{
     height : auto; 
     width : 100%;
     font-size: 16px;
     background: #d389ae; 
     opacity : 0.8; 
        color: white;
        text-align: center;
        padding: 15px;
        position: absolute;
        bottom : -90%;
}
.titre-services{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight:bolder;
    margin: 3%;
    padding: 1%;
    color:#333;
}

.resau{
    width : 100px;
}
}