@media all and (min-width:600px) {
    
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    max-width: 100%;
    max-height :100%;
    
  
 background-image: url(/images/medocs.jpg); 
 margin: 0;  
 font-family: cursive;
}

header{
    background-color:#142323;
    height : 10%; 
    display: flex;
    justify-content: center;
    opacity: 0.9;
}
header .logo{
    width : 100px; 
    height : 160px;

}
.comment{
    background-color:beige ;
    color: #040f0f; 
    padding : 15px; 
    border-radius: 10px;

    margin : 5%; 
}
.accueil{
    background-color: transparent;
    border : none; 
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size:60px; 
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    color : #a1567c;
}

#calendar{
    display: grid; 
    grid-template-columns: repeat(7,1fr);
    gap: 5px; 
    width : 80%; 
    margin : 0 10% ;
    
}
#weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px; 
    gap: 5px; 
     width : 80%; 
    margin : 5% 10% 5% 10%;
}

#weekdays div {
    padding : 10% 0; 
    background:#938bd8;
    border: 1px solid #220f32;
    opacity : 0.8; 
}

.day{
     border:1px solid #4a3872; 
    padding: 30px;
    min-height:12.5%; 
    position: relative; 
    background: #a786b8; 
    opacity : 0.9;
}
.days{
    border:1px solid #e2A3C7; 
    padding: 30px;
    min-height:12.5%; 
    position: relative; 
    background: #c68080;
}
.day-number{
font-weight: bold;
color : white;
}

.event{
    background: #f1a7f1; 
    color: rgb(59, 42, 92); 
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 15px;
    font-size : 16px;
    cursor: pointer; 
}


#nav {
    margin-top: 3%;
    margin-left : 30%;
    margin-right: 30% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom : 20px;
    color : rgb(65, 41, 95) 
}
#nav span{
    font-size: 20px;
    font-weight: bold;
}
.navbtn{
    width: 150px;
    height : 40px;
    border-radius: 10px;
    background-color: rgb(54, 54, 94);
    color : white; 
    border : none; 
}
.navbtn:hover{
    width: 150px;
    height : 40px;
    border-radius: 10px;
    background-color: rgb(173, 66, 143);
    color : rgb(62, 8, 55); 
    border : none; 
}

#event-viewer{
    margin-top:3%;
     padding:15px; 
     border:1px solid #884d7e; 
     background: #c894b7;
     border-radius: 8px; 
     display:none;
}


#event-form{
    margin: 3% 45%;
}

#event-form h2{
    display: flex;
    color :rgb(59, 42, 92);
    justify-content :center;
    align-items: center;
}
input{
    margin : 3%;
    width: 150px; 
    height : 45px; 
    background-color: #dec6c6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none; 
    color:#8f3131;
    border-radius: 10px;

}
.close{
        width: 150px;
    height : 40px;
    border-radius: 10px;
    background-color: rgb(54, 54, 94);
    color : white; 
    border : none; 
     margin: 5% 
    }

#delete-Btn{
    width: 150px;
    height : 40px;
    border-radius: 10px;
    background-color: rgb(176, 61, 61);
    color : white; 
    border : none; 
     margin: 5% 
}
#delete-Btn:hover{
    background-color: #f37171;
    color: white;
}
    .ajouter{
                width: 150px;
    height : 40px;
    border-radius: 10px;
    background-color: rgb(54, 54, 94);
    color : white; 
    border : none; 
     margin: 5% 
    }
    .today {
  background: #f8e19b !important;
  border: 2px solid #805322 !important;
  
}
.resau{
    width : 100px;
}
footer{
     height : auto; 
     font-size: 22px;
     background: #d389ae; 
     opacity : 0.8; 
        color: white;
        text-align: center;
        padding: 15px;
}}


 @media all and (max-width: 600px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
    body {
        font-size: 16px;
        background-size: cover;
        background-position: center;
        background-image: url(/images/medocs.jpg); 
     
    }

   header {
    background-color: #730f50;
    max-height: 20%;
    display: flex;
    justify-content: center;
    opacity: 0.9;
}
.accueil{
    background-color: transparent;
    border : none;
   width: 100px;
    height: 100px;
  
}
    h1 {
        font-size: 32px;
        margin-top: 10%;
    }
.titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    /* NAVIGATION */
    #nav {
        margin: 10% 5%;
        flex-direction: column;
        gap: 10px;
        width : 100%;
    }

    .navbtn {
        width: 30%;
        height: 40px;
        font-size: 16px;
         background-color: rgb(54, 54, 94);
    color: white;
    border-radius: 10px;
    border: none;
    }

    /* CALENDRIER */
    #weekdays, #calendar {
        width: 95%;
        margin: 5% auto;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        gap: 2px;
        display: grid;
    }

    #weekdays div {
        padding: 8px 0;
        font-size: 12px;
        background: #393464;
    border: 1px solid #220f32;
    }

    .day, .days {
        padding: 10px;
        min-height: 50px;
        font-size: 14px;
        background: #5a356c;
      border: 1px solid #4a3872;
    }
   
        .today {
    background: #f8e19b !important;
    border: 2px solid #805322 !important;

}
    
    .event {
        font-size: 12px;
        padding: 2px 4px;
    }

    /* FORMULAIRE + EVENT VIEWER */
    #event-viewer {
        width: 90%;
        margin: 10% auto;
        padding: 5%;
        font-size: 16px;
        background-color: #f1bebe;
        color :#220f32;
        border-radius : 10px;
        
    }

    #event-form {
        margin: 5% auto;
        width: 90%;
        background-color: #220f32;
        border-radius: 10px;
        

    }

    #event-form h2 {
        font-size: 20px;
        width: auto;
        color : white;
        display: flex;
        align-items: center;
    }

    input {
        width: 80%;
        margin: 10px auto;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: none;  
    }

    .boutons {
        flex-direction: column;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px;
       
    }

    .ajouter, #delete-Btn, .close {
        width: 90%;
        height: 45px;
        margin: 10px auto;
          display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(238, 85, 30);
        color:rgb(0, 0, 0);
        border-radius: 10px; 
        border: none;
        
    }
   .ajouter{
    margin-bottom : 15%;
   
   }
.close{
     background-color: rgb(54, 54, 94);
    color: white;
}
    /* FOOTER */
   footer{
     height : auto; 
     width : 100%;
     font-size: 16px;
     background: #d389ae; 
     opacity : 0.8; 
    color: white;
    text-align: center;
    padding: 15px;
}
.titre-services{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight:bolder;
    margin: 3%;
    padding: 1%;
    color:#333;
}

.resau{
    width : 100px;
}}
