@media all and (min-width:600px){
    *{
    padding : 0;
    margin: 0 ; 
    box-sizing: border-box;
    font-family:cursive;
}
body{ 
    background-image: url(/images/allergies-fond.png);
    display: flex; 
    justify-content: center;
    align-items : center; 
    height : 100vh;
   
   flex-direction: column;
}
header{
    background-color: #3d1b0e75;
    width: 100%;
    opacity: 0.9;
      margin-top : 0;
    padding-top: 0;
    position: absolute; 
    top:0px; 
   img{
    width:40%;
     
   }
   .entete{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
   h1{
    display: flex; 
    justify-content: center;
    align-items: center;
    color:#3e0911;
    text-decoration: underline;
}
}


.retour{
    background-color: transparent;
    border: none; 
}
.container {
    background-color:transparent;
    padding : 5%;
    border-radius: 15px;
    margin-top : 25%;
    margin-bottom: 25%;
    margin :5%;
}
.comment{
    background-color:beige ;
    color: #040f0f; 
    padding : 15px; 
    border-radius: 10px;

    margin : 5%; 
}
.allergies{ 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    justify-items: center;
}
.Medicaments, .Aliments, .Environnement{
   text-align: center;
   padding : 20px; 
   background-color: #bb1b33;
   box-shadow: rgba(56, 2, 17, 0.4) 5px 5px, rgba(66, 12, 33, 0.3) 10px 10px, rgba(60, 10, 23, 0.2) 15px 15px, rgba(53, 3, 17, 0.1) 20px 20px, rgba(240, 46, 75, 0.05) 25px 25px;
   border-radius: 15px;
   width : 80%;
   height: auto;
   color : white
}

label { 
    font-weight: bold;
    font-size: 20px;
}
input{ 
    width: 80%;
    border: 1px solid #000000; 
    border-radius : 4px;
    padding: 2%; 
    margin-bottom: 2px;
}

ul{
    list-style: none;
    padding: 0; 
}

li{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding :10% 0; 
    border-bottom: 1px solid #000000;
}
li:last-child {
    border-bottom: none;
}

.add{
    padding : 2%;
    border : none; 
    background-color: #040f0f;
    color: white; 
    cursor: pointer; 
    border-radius: 4px;
}    
.add:hover{
    padding : 2%;
    border : none; 
    background-color: #ff684a;
    color: rgb(0, 0, 0); 
    cursor: pointer; 
    border-radius: 4px;
}    

.delete-btn{
    padding : 2%;
    border : none;
    background-color: rgb(207, 145, 10);
    color: white; 
    cursor: pointer; 
    border-radius: 4px;
}

.delete-btn:hover{
    padding : 2%;
    border : none;
    background-color: rgb(70, 93, 128);
    color: rgb(29, 37, 35); 
    cursor: pointer; 
    border-radius: 4px;
}
footer{
    width : 100%;
     height : 30%; 
     font-size: 16px;
     background: #edab70; 
     opacity : 0.9; 
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 15px;
        position : absolute; 
        bottom: 0; 
        top : 90%;
    }

    footer img{
    width : 100px;
}}

@media all and (max-width:600px) {
    

  *{
margin : 0;
padding: 0;
box-sizing: border-box;
font-family: cursive;
font-size: 18px; 
}

body { 
        display: flex; 
    justify-content: center;
    align-items : center; 
    height : auto;
    background-image : url(/images/allergies-fond.png);
   flex-direction: column;
}
header{
    opacity: 0.9;
    background-color: #040f0f;
    color:#ffffff; 
    width: 100%;
      margin-top : 0;
    padding-top: 0;
    position: absolute; 
    top:0px;
    margin-bottom: 5%;
  }

   img{
    width:80%;
   }
   .retour{
    background-color: transparent;
    border: none; 
   }
   
   .entete{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 
   }
   h1{
    display: flex; 
    justify-content: center;
    color: #3e0911;

   }
.container{
    background-color: #fed48a;
    padding : 5%;
    border-radius: 15px;
    margin-top : 35% ;
  opacity: 0.8;
}
.explication{
    background-color: #ddd;
    color : Black; 
    border-radius: 10px; 
    margin: 0  0 2% 0;
padding: 5%;
}
.traitement{ 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7%;
    justify-items: center;
       display:flex;
   flex-direction: column;
   

}
.Medicaments, .Aliments, .Environnement{
   padding : 20px; 
   background-color: #e2a3c7;
   box-shadow: 0 0 10px #040f0f; 
   border-radius: 15px;
   width : 80%;
   height: auto;
    margin : 5%;
}
label { 
    font-weight: bold;
    font-size: 20px;
}
input{ 
    width: 70%;
    border: 1px solid #ddd; 
    border-radius : 4px;
    padding: 2%; 
    margin-bottom: 2px;
}

ul{
    list-style: none;
    padding: 0; 
}

li{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding :10% 0; 
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}
.add{
    padding : 2%;
    border : none; 
    background-color: #040f0f;
    color: white; 
    cursor: pointer; 
    border-radius: 4px;
}   


.delete-btn{
    padding : 2%;
    border : none;
    background-color: rgb(179, 37, 37);
    color: white; 
    cursor: pointer; 
    border-radius: 4px;
}
.checkbox {
    width : 20px;
    height : 20px;

}
footer{
     height : auto; 
     width : 100%;
     font-size: 16px;
     background: #d389ae; 
     opacity : 0.8; 
        color: white;
        text-align: center;
        padding: 15px;
}
.titre-services{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight:bolder;
    margin: 3%;
    padding: 1%;
    color:#333;
}

.resau{
    width : 100px;
}
}